body {
    background-color: #000;
    margin: 0;
}
.wrapper {
    background-color: #fff;
    width: 210mm;
    min-height: 297mm;
    margin: 2rem auto;
    padding:3rem 6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
header, main, footer {
    width: 100%;
    font-family: "Inter", "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
}
header {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
main {
    flex: 1;
}
footer p {
    text-align: center;
}
h1 {
    font-size: 1.9rem;
    font-weight: 800;
}
h2 {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2;
}
h3 {
    font-size: 0.9rem;
    font-weight: 600;
}
h3 span:not(:last-child)::after {
    content: "|";
    margin: 0 0.2rem;
    color: #888;
    line-height: 1.5;
}
section {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
header h1 {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
.job {
    font-size: 1.4rem;
    font-weight: 700;
}
.contact-info {
    display: flex;
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 2;
}
.contact-info li:not(:last-child):after {
    content: "|";
    margin: 0 0.1rem;
    color: #888;
}
.contact-info .linkedin a {
    color: #0a66c2;
    font-weight: 400;
    text-decoration: none;
}
.contact-info .linkedin a:hover{
    text-decoration: underline;
}
.contact-info .github a {
    color: #24292f;
    font-weight: 400;
    text-decoration: none;
}
.contact-info .github a:hover {
    text-decoration: underline;
}
.main-profile p {
    font-size:1rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.2;
}
.main-skill ul li span:first-child{
    font-size: 0.9rem;
    font-weight: 600;
}
.main-skill ul li span:last-child{
    font-size: 0.9rem;
    font-weight: 200;
}
.main-experience ul {
    list-style-type: disc;
    padding-left: 2rem;
}
.main-experience ul li {
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.5;
}
.main-training h3 span:last-child {
    font-size: 0.7rem;
    font-weight: 200;
}

